<div>
    <u>
        <h1>SENTIMENT ANALYSIS OF NEWS ARTICLES</h1>
    </u>
</div>

<div class="heading">
    <h2><a href="https://news.google.com/">GOOGLE NEWS</a></h2>
    <h2><a href="https://www.onvista.de/">ONVISTA</a></h2>
</div>

<div class="heading">
    <div>
        <button class="button" (click)="showGoogleArticles()">List of Articles</button>
        <button class="button" (click)="showGoogleResults()">Sentiment Results</button>
    </div>
    <div>
        <button class="button" (click)="showOnvistaArticles()">List of Articles</button>
        <button class="button" (click)="showOnvistaResults()">Sentiment Results</button>
    </div>
</div>
<br>
<button class="button" (click)="resetDivs()">Reset</button>
<br>
<div>
    <div *ngIf="display1">
        <div *ngIf="google_sentiment_results.length">

            <h2>SENTIMENT RESULTS FROM ARTICLES EXTRACTED FROM GOOGLE</h2>

            <div class="wrapping">
                <table mat-table [dataSource]="google_sentiment_results">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Company Column -->
                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>
                            Company </th>
                        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="published_date">
                        <th mat-header-cell *matHeaderCellDef> Published Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.published_date | date }} </td>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="article_title">
                        <th mat-header-cell *matHeaderCellDef>
                            Title </th>
                        <td class="wrap" mat-cell *matCellDef="let element"> {{element.article_title}} </td>
                    </ng-container>

                    <!-- URL Column -->
                    <ng-container matColumnDef="article_url">
                        <th mat-header-cell *matHeaderCellDef>Article Url </th>
                        <td class="wrap" mat-cell *matCellDef="let element"> {{element.article_url}} </td>
                    </ng-container>

                    <!-- Sentiment Column -->
                    <ng-container matColumnDef="sentiment">
                        <th mat-header-cell *matHeaderCellDef>Sentiment </th>
                        <td mat-cell *matCellDef="let element"> {{element.sentiment}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedResults"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedResults;"></tr>
                </table>
            </div>

        </div>

        <div *ngIf="!google_sentiment_results.length">
            <p>No Results Found</p>
        </div>
    </div>

    <div *ngIf="display2">
        <div *ngIf="onvista_sentiment_results.length">

            <h2>SENTIMENT RESULTS FROM ARTICLES EXTRACTED FROM ONVISTA.DE</h2>

            <div class="wrapping">
                <table mat-table [dataSource]="onvista_sentiment_results">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Company Column -->
                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>
                            Company </th>
                        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="published_date">
                        <th mat-header-cell *matHeaderCellDef> Published Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.published_date | date }} </td>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="article_title">
                        <th mat-header-cell *matHeaderCellDef>
                            Title </th>
                        <td class="wrap" mat-cell *matCellDef="let element"> {{element.article_title}} </td>
                    </ng-container>

                    <!-- URL Column -->
                    <ng-container matColumnDef="article_url">
                        <th mat-header-cell *matHeaderCellDef>Article Url </th>
                        <td class="wrap" mat-cell *matCellDef="let element"> {{element.article_url}} </td>
                    </ng-container>

                    <!-- Sentiment Column -->
                    <ng-container matColumnDef="sentiment">
                        <th mat-header-cell *matHeaderCellDef>Sentiment </th>
                        <td mat-cell *matCellDef="let element"> {{element.sentiment}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedResults"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedResults;"></tr>
                </table>
            </div>

        </div>

        <div *ngIf="!onvista_sentiment_results.length">
            <p>No Results Found</p>
        </div>
    </div>

    <div *ngIf="display3">
        <div *ngIf="onvista_articles.length">

            <h2>LIST OF ARTICLES EXTRACTED FROM ONVISTA.DE</h2>

            <div class="wrapping">
                <table mat-table [dataSource]="onvista_articles">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Company Column -->
                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>
                            Company </th>
                        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="published_date">
                        <th mat-header-cell *matHeaderCellDef> Published Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.published_date | date }} </td>
                    </ng-container>

                    <!-- URL Column -->
                    <ng-container matColumnDef="article_url">
                        <th mat-header-cell *matHeaderCellDef>Article Url </th>
                        <td class="wrap" mat-cell *matCellDef="let element"> {{element.article_url}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

        </div>

        <div *ngIf="!onvista_articles.length">
            <p>No Results Found</p>
        </div>
    </div>

    <div *ngIf="display4">
        <div *ngIf="google_articles.length">

            <h2>LIST OF ARTICLES EXTRACTED FROM GOOGLE</h2>

            <div class="wrapping">
                <table mat-table [dataSource]="google_articles">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Company Column -->
                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef>
                            Company </th>
                        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="published_date">
                        <th mat-header-cell *matHeaderCellDef> Published Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.published_date | date }} </td>
                    </ng-container>

                    <!-- URL Column -->
                    <ng-container matColumnDef="article_url">
                        <th mat-header-cell *matHeaderCellDef>Article Url </th>
                        <td class="wrap" mat-cell *matCellDef="let element"> {{element.article_url}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

        </div>

        <div *ngIf="!google_articles.length">
            <p>No Results Found</p>
        </div>
    </div>
</div>